{% extends 'index.html' %}


{% block styles %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock styles %}
{% block content %}
        <div class="main">
            <div class="heading-container">
            <hr>
            <h1 class="heading">Приют PetsHome</h1>
            </div>
            <p class="heading-text">Сейчас тут живет - {{ data|length }} животных</p>

            
        </div>
        <p>TODO LIST:<br>1.Реализовать добавление в избранное<br>2.Настроить работу фильтра (чекбокс только из моего города)</p>
{% endblock content %}